<template>
  <ion-card>
    <ion-item>
      <ion-label></ion-label>
    </ion-item>

    <table>
      <tr>
        <td><div contenteditable>I'm editable</div></td>
        <td><div contenteditable>I'm also editable</div></td>
      </tr>
      <tr>
        <td>I'm not editable</td>
      </tr>
    </table>
  </ion-card>
</template>

<script setup lang="ts"></script>
