.cherry {
  --ion-color-primary: #ff568e;
  --ion-color-primary-rgb: 255, 86, 142;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #e04c7d;
  --ion-color-primary-tint: #ff6799;

  --ion-color-secondary: #5260ff;
  --ion-color-secondary-rgb: 82, 96, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #4854e0;
  --ion-color-secondary-tint: #6370ff;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #db4155;
  --ion-color-danger-rgb: 219, 65, 85;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #c1394b;
  --ion-color-danger-tint: #df5466;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-background-color: #252531;
  --ion-background-color-rgb: 37, 37, 49;

  --ion-text-color: #deddda;
  --ion-text-color-rgb: 222, 221, 218;

  --ion-color-step-50: #2e2e39;
  --ion-color-step-100: #383742;
  --ion-color-step-150: #41414a;
  --ion-color-step-200: #4a4a53;
  --ion-color-step-250: #53535b;
  --ion-color-step-300: #5d5c64;
  --ion-color-step-350: #66656c;
  --ion-color-step-400: #6f6f75;
  --ion-color-step-450: #78787d;
  --ion-color-step-500: #828186;
  --ion-color-step-550: #8b8a8e;
  --ion-color-step-600: #949396;
  --ion-color-step-650: #9d9d9f;
  --ion-color-step-700: #a6a6a7;
  --ion-color-step-750: #b0afb0;
  --ion-color-step-800: #b9b8b8;
  --ion-color-step-850: #c2c1c1;
  --ion-color-step-900: #cccbc9;
  --ion-color-step-950: #d5d4d2;
}
