.nord {
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  --ion-color-secondary: #81a1c1;
  --ion-color-secondary-rgb: 129, 161, 193;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #728eaa;
  --ion-color-secondary-tint: #8eaac7;

  --ion-color-tertiary: #88c0d0;
  --ion-color-tertiary-rgb: 136, 192, 208;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #78a9b7;
  --ion-color-tertiary-tint: #94c6d5;

  --ion-color-success: #a3be8c;
  --ion-color-success-rgb: 163, 190, 140;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #8fa77b;
  --ion-color-success-tint: #acc598;

  --ion-color-warning: #d08770;
  --ion-color-warning-rgb: 208, 135, 112;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #b77763;
  --ion-color-warning-tint: #d5937e;

  --ion-color-danger: #bf616a;
  --ion-color-danger-rgb: 191, 97, 106;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #a8555d;
  --ion-color-danger-tint: #c57179;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-background-color: #3b4252;
  --ion-background-color-rgb: 40, 40, 40;

  --ion-background-light-color: #434c5e;
  --ion-background-light-color-rgb: 60, 56, 54;

  --ion-background-dark-color: #2e3440;
  --ion-background-dark-color-rgb: 29, 32, 33;

  --ion-text-color: #eceff4;
  --ion-text-color-rgb: 236, 239, 244;

  --ion-color-step-50: #383d49;
  --ion-color-step-100: #414752;
  --ion-color-step-150: #4b505b;
  --ion-color-step-200: #545964;
  --ion-color-step-250: #5e636d;
  --ion-color-step-300: #676c76;
  --ion-color-step-350: #71757f;
  --ion-color-step-400: #7a7f88;
  --ion-color-step-450: #848891;
  --ion-color-step-500: #8d929a;
  --ion-color-step-550: #979ba3;
  --ion-color-step-600: #a0a4ac;
  --ion-color-step-650: #aaaeb5;
  --ion-color-step-700: #b3b7be;
  --ion-color-step-750: #bdc0c7;
  --ion-color-step-800: #c6cad0;
  --ion-color-step-850: #d0d3d9;
  --ion-color-step-900: #d9dce2;
  --ion-color-step-950: #e3e6eb;
}
