/** Ionic CSS Variables **/
@import url("./gruvbox.css");
@import url("./nord.css");
@import url("./light.css");
@import url("./cherry.css");

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../assets/fonts/open_sans/static/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans-Medium";
  src: url("../assets/fonts/open_sans/static/OpenSans/OpenSans-Medium.ttf");
}
@font-face {
  font-family: "Comfortaa-Bold";
  src: url("../assets/fonts/comfortaa/Comfortaa-Bold.ttf");
}
@font-face {
  font-family: "Comfortaa-Light";
  src: url("../assets/fonts/comfortaa/Comfortaa-Light.ttf");
}

/* text */
h1,
h2,
h3,
h4,
h5,
h6,
ion-title {
  font-family: Comfortaa-Bold;
  opacity: var(--text-opacity);
}
p,
ion-text,
ol,
ul {
  font-family: OpenSans-Regular;
  opacity: var(--text-opacity);
  font-size: 1.2rem;
  line-height: 2em;
}

.transparent {
  --background: transparent;
  background: transparent;
}
.center {
  display: flex;
  justify-content: center;
}
.center-vertical {
  display: flex;
  align-items: center;
}
.error {
  color: var(--ion-color-danger);
}
.item-icon {
  margin-top: 28px;
}

ion-card {
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
  box-shadow: none;
  background-color: var(--ion-background-light-color);
}

.shadow {
  box-shadow: rgba(-1, 0, 0, 0.15) 0px 5px 15px 0px;
}

/* ::-webkit-scrollbar { */
/*   height: 19px; */
/*   width: 19px; */
/* } */
/**/
/* ::-webkit-scrollbar-track { */
/*   background-color: transparent; */
/* } */
/**/
/* ::-webkit-scrollbar-thumb { */
/*   background-color: #d6dee1; */
/*   border-radius: 20px; */
/* } */
/**/
/* ::-webkit-scrollbar-thumb { */
/*   background-color: var(--ion-color-primary); */
/*   border-radius: 20px; */
/*   border: 6px solid transparent; */
/*   background-clip: content-box; */
/* } */
/**/
/* ::-webkit-scrollbar-thumb:hover { */
/*   background-color: #a8bbbf; */
/* } */

ion-toolbar{
  --background:var(--ion-background-color)
}

ion-accordion ion-item {
  --background: var(--ion-background-light-color) !important;
}
ion-accordion > div[slot="content"] {
  background: var(--ion-background-light-color) !important;
}
